

* {
  padding: 0;
  margin: 0;
}

:root {
  --red: #EE2B34;
  --yellow: #F0B807;

  font-size: 62.5%;
}

body {
  text-align: center;
}

.pokemon-name {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.main{
  display: grid;
  justify-content: center;
  gap: 2rem;

  margin-top: 4rem;
}

/* CARD */
.card {
  justify-items: center;
  width: 60rem;
}

.pokecard-type{
  margin-left: -75.1px;
}

.card-body__img {
  transform: scale(3)
}

.card-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center ;
}

.card-body__title {
  padding-bottom: 2rem;
}


/* STATS */
.stats-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.pokecard-stat_text {
  display: flex;
  justify-content: center;
}
